    
    <br>
<!--
<button class="collapse-all">Collassa albero</button>
<button class="collapse-all">Espandi albero</button>
-->
<button class="button left" onclick="exportMap();">Esporta Mappa</button>
<button class="button right" onclick="clearStorage();">Cancella Mappa</button>
<br>
<div>
<div style="width:100%; height:50px"></div>
<div>

    <p class="blockcenter center">Esame di Ricerca Operativa</p> 
    
    <p>
        <b>Informazioni</b>
        <br>
        Questa mappa pu&ograve; essere utilizzata per prendere note sullo svolgimento degli esercizi e stimare il punteggio fatto per ogni task.
        
        <br>
        Al termine dell'esame premi il tasto "Esporta Mappa" per generare un report da consegnare, che sar&agrave; utilizzato per la correzione.
    </p> 
    
</div>
</body>
</html>